.dashboard-tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 125px;
}

.dashboard-tabs button {
  padding: 0.5rem 1rem;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard-tabs button.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.dashboard-tabs button.not-active:hover {
  background-color: rgba(0, 87, 179, 0.5);
  color: white;
  font-weight: bold;
}

.dashboard-tabs .logoutButton  {
  background-color: red;
  color: white;
  font-weight: bold;
}


.dashboard-tabs .logoutButton:hover {
  background-color: darkred;
  color: white;
  font-weight: bold;
}