@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


.gallery-carousel {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
  position: relative;
}

@media (max-width: 600px) {
  .gallery-carousel {
    max-width: 100%;
    padding: 0 20px;
  }
}

.gallery-carousel h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-size: "Space Grotesk", sans-serif;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  border-radius: 12px;
  height: 650px;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(51, 51, 51, 0.03);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 100%;
  user-select: none;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.carousel-btn:hover {
  background-color: rgba(51, 51, 51, 0.6);
  
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

.carousel-indicators {
  margin-top: 15px;
}

.indicator {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: #333;
}


.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
