@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.teslaImage {
  position: relative;
  width: 100%;
   overflow-x: hidden;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.teslaImage {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0.9; }
  to { opacity: 1; }
}


.teslaImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.teslaImage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  z-index: 1;
}

.overlay-text {
  position: absolute;
  top: calc(20% + 120px); /* 120px — высота шапки на десктопе */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(20px, 6vw, 34px);
  text-align: center;
  z-index: 2;
  width: 90%;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 0 20px; /* немного отступа слева и справа */
}

/* Для мобильных */
@media (max-width: 768px) {
  .overlay-text {
    top: calc(25% + 75px); /* высота шапки на мобильных */
    font-size: clamp(16px, 5vw, 22px);
  }
}


.buttonRes {
  border: none;
  display: inline-block;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  font-size: clamp(16px, 2.5vw, 25px);
  padding: clamp(10px, 2vh, 15px) clamp(25px, 6vw, 45px);
  border-radius: clamp(15px, 3vw, 25px);
  color: white;
  background: linear-gradient(90deg, rgb(144, 144, 144), rgb(0, 0, 0), rgb(144, 144, 144));
  background-size: 200% 200%;
  font-family: 'Space Grotesk', sans-serif;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  text-align: center;
  text-decoration: none;
  animation: gold-flow 6s linear infinite;
}



@keyframes gold-flow {
  0% { background-position: 100% 50%; }
  25% { background-position: 50% 0%; }
  50% { background-position: 0% 50%; }
  75% { background-position: 50% 100%; }
  100% { background-position: 100% 50%; }
}
