/* Контейнер секции бронирования */
#booking, #booking2 {
  background-color: #f5f5f5;
}

/* Блок с кнопками переключения */
.type-switch {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

/* Кнопки переключения */
.type-switch button {
  padding: clamp(5px, 2vh, 15px) clamp(5px, 2vw, 15px);
  margin: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #333;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}


@keyframes gold-flow {
  0% {
    background-position: 100% 50%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Активная кнопка */
.type-switch button.active {
  background: linear-gradient(90deg, rgb(129, 129, 129), rgb(0, 0, 0), rgb(255, 255, 255));
  background-size: 200% 200%;
  color: white;
  animation: gold-flow 6s linear infinite;
}

/* Неактивная кнопка */
.type-switch button.not-active {
   background: linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
  background-size: 200% 200%;
  color: #333;
}




/* Контейнер формы */
form {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
