/* Services.css */

.services-page {
  padding: 60px 20px;
  background-color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  color: #222;
}

.services-page .container {
  max-width: 900px;
  margin: 0 auto;
}

.services-page h1 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #111;
  text-align: center;
}

.service-section {
  margin-bottom: 50px;
  text-align: center;
}

.service-section h2 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.service-section p {
  font-size: 18px;
  line-height: 1.8;
  color: #333;
  text-align: center;
}

.services-page a {
  text-decoration: none;
}

.service-button {
  display: inline-block;
  margin-top: 16px;
  padding: clamp(10px, 2vh, 15px) clamp(25px, 6vw, 45px);
  font-size: 16px;
  border: none;
  border-radius: clamp(15px, 3vw, 25px);
  background: linear-gradient(90deg, rgb(144, 144, 144), rgb(0, 0, 0), rgb(144, 144, 144));
  background-size: 200% 200%;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-family: "Space Grotesk", sans-serif;
  transition: 0.4s ease-in-out;
  text-align: center;
  cursor: pointer;

}

.service-button:hover {
  animation: gold-flow 3s infinite linear;
}

@keyframes gold-flow {
  0% { background-position: 100% 50%; }
  25% { background-position: 50% 0%; }
  50% { background-position: 0% 50%; }
  75% { background-position: 50% 100%; }
  100% { background-position: 100% 50%; }
}


/* Responsive */
@media (max-width: 768px) {
  .services-page {
    padding: 40px 15px;
  }

  .services-page h1 {
    font-size: 28px;
  }

  .service-section h2 {
    font-size: 22px;
  }

  .service-section p {
    font-size: 16px;
  }
}
